<form method="post" action="/drones/create" class="form">
<h2>Create a new drone</h2>
<label class="label">name</label>
<input type="text" class="input" name="name">
<label class="label">propellers</label>
<input type="text" class="input" name="propellers">
<label class="label">maxSpeed</label>
<input type="text" class="input" name="maxSpeed">

  <button class="button">create</button>
</form>